{% extends 'base/main.html' %}
{% load static %}
{% block content %}


<div class="homeFirst">
    <div class="left">
        <h1>ART BY NATTY</h1>
        <h5>Philippines. USA. Thailand</h5>
    </div>
    <div class="right">
      
        <img src="{% static 'images/netch.png' %}">
    </div>
</div>

<div class="homeSecond">
    <div class="top">
        <h1>ART</h1>
        <p>only the best</p>
    </div>


   <div class="grid-container">
  <div class="grid-item">1</div>
  <div class="grid-item">2</div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
    </div>
</div>  
    
    


{% endblock content %}