{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/shop.css' %}">
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="main">

    <nav id="nav">
      <p class="logo">Natty</p>

      <ul class="nav-links">
          <li><a href="/" class="links">Home</a></li> 
  <li><a href="/shop" class="links">Shop</a></li>
  <li><a href="/contact" class="links">Contact</a> </li>
  <li><a href="/Info" class="links">Info</a></li>
          
      </ul>

      
  </nav>
    <div class="banners">
        <div class="paragraphTitles">
        <h2>SHOP</h2>
        </div>
        
        <div class="left">

        <h1>DIGITAL - CERAMIC</h1>
        <h1>CLOTHING</h1>
        <h1>BOOKS</h1>
        </div>
        
        <div class="right">
        <img src="{% static 'images/pook.png' %}" alt="" id="pook">
        <img src="{% static 'images/boos.png' %}" id="boos">
        </div>

    </div>




    <div class="homeSecond">

        <div class="top">
            <h1 class="paragraphTitles">DIGITAL ARTS</h1>
            
        </div>
    
    
       <div class="grid-container">
            <div class="grid-item">
                <img src="../../assets/IMG_2906.png" alt="">
          
        </div>
        <div class="grid-item">
          <img src="../../assets/IMG_1558.png"  class="grid1" alt="">
        </div>
        <div class="grid-item">
          <img src="../../assets/IMG_1783.png"  class="grid1" alt="">
        </div>
        <div class="grid-item">
          <img src="../../assets/IMG_2899.png"  class="grid1" alt="">
        </div>
        <div class="grid-item">
          <img src="../../assets/IMG_2907.png"  class="grid1" alt="">
          </div>
      <div class="grid-item">
          <img src="../../assets/IMG_2908.png"  class="grid1" alt="">
          </div>
      <div class="grid-item">
          <img src="../../assets/IMG_2909.png"  class="grid1" alt="">
          </div>
      <div class="grid-item"></div>
        </div>
        
</div>
</div>
</body>
</html>